// Utilities
@import "../../scss/variables.scss";

// CSS - HEADER
#header-gammes {
    height: 700px;
    h1 {
        grid-column: 1/5;
    }

    .container-image {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        grid-column: span 2;
        height: 605px;
        overflow: hidden;
        border-radius: 40px;
        border: 0px solid $white-color;

        transition: border 0.2s ease-in;

        &:nth-child(2n+1) {
            align-items: flex-start;
        }

        figcaption {
            position: absolute;
            font-family: $title-font;
            font-size: 2.2rem;
            font-weight: 500;
            color: $white-color;
            margin: 20px 10px;
            z-index: 2;
            transform: translateY(-60px);
            opacity: 0;
            transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;

        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            width: auto;
            opacity: 0.8;
            transition: transform 0.3s ease-out, opacity 0.4s ease-out;
        }

        &:hover {
            border: 5px solid $white-color;
            figcaption {
                opacity: 1;
                transform: translateY(0px);
            }
            img {
                transform: scale(1.1);
                opacity: 1;
            }
        }

        &:nth-child(2), &:nth-child(4)  {
            align-self: flex-end;
        }
    }
}

#page-nos-gammes {
    .container-first {
        margin: 0 auto 100px;
    }
}