// Utilities
@import "../variables.scss";

/* *********** MEDIA QUERIES *********** */
/* ************************************* */

/* //////////////////////////////////////// PORTRAIT //////////////// */
/* Pour le format portrait */

@media (orientation: portrait) {

}

/* ///////////////////////////////////////// 1140px //////////////// */
/* Ajustements à partir de la colonne principale */

@media screen and (max-width: 1140px) {
    header, .container {
        width: 96%;
        margin: 20px 2%;
    }
}

/* ///////////////////////////////////////// 980px //////////////// */

@media screen and (max-width: 980px) {
    :root {
        font-size: 12px;
    }

    header {
        align-items: flex-end;
        nav {
            margin-bottom: 10px;
            .border-nav {
                font-size: 0.95rem;
                gap: 15px;
                padding: 12px 25px;
            }
        }
    }

    #container-section-shop {
        grid-template-columns: repeat(8, 1fr);

        #container-filter {
            grid-column: span 2;
        }
    
        #container-shop {
            grid-column: span 6;

            .container-product .container-product-meta {
                max-width: 219px;
            }
        }
    }
}

/* ///////////////////////////////////////// 840px //////////////// */

@media screen and (max-width: 840px) {
    header {
        nav {
            .border-nav {
                padding: 12px 18px;
                a {
                    display: none;
                }
    
                svg {
                    display: block;
                    stroke: $dark-color;
                }
            }
        }
    }
}

/* ///////////////////////////////////////// 768px //////////////// */
/* Pour le format Tablette */

@media screen and (max-width: 768px) {
    .container-grid {
        grid-template-columns: repeat(6, 1fr);

        .grid3, .grid4, .grid5, .grid6, .grid7 {
            grid-column: 3 span !important;
        }

        .grid8 {
            grid-column: 2/6;
        }
    }
    #container-section-shop {
        grid-template-columns: repeat(6, 1fr);
        #container-filter {
            grid-column: span 2;
        }
    
        #container-shop {
            grid-column: span 4;

            .container-product .container-product-meta {
                max-width: 224px;
            }
        }
    }
}

/* ///////////////////////////////////////// 640px //////////////// */
/* Pour le format tablette */

@media screen and (max-width: 640px) {

    #container-section-shop {
        display: flex;
        flex-direction: column;
        align-items: self-start;

        #container-filter .liste-filter ul {
            flex-direction: row;
        }
    
        #container-shop {

            .container-product .container-product-meta {
            }
        }
    }
}