// Utilities
@import "../variables.scss";

/* *********** MEDIA QUERIES *********** */
/* ************************************* */

/* //////////////////////////////////////// PORTRAIT //////////////// */
/* Pour le format portrait */

@media (orientation: portrait) {

}

/* ///////////////////////////////////////// 1140px //////////////// */
/* Ajustements à partir de la colonne principale */

@media screen and (max-width: 1140px) {
    header, .container {
        width: 96%;
        margin: 0 2%;
    }

    .container {    padding: 60px 0;    }
    
    // HOME
    #hero .container .header-button {   bottom: 0;  }
    #section-temps {
        .container-grid {
            grid-template-areas: "a a a a . b b b b";

            .container-image-border {
                .container-image {
                    width:80%;
                }

                .border {   width: 90%; }
            }
                
        }
        .background {
            .background-image, .background-texte {  width: 50%  }
        }
    }

    // SHOP
    #container-filter   {    grid-column: span 2;    }
    #container-shop     {    grid-column: span 7;    }  
    // ACTU
    #container-articles {    grid-column: span 7;    }  
    //NOS GAMMES 
    #header-gammes {
        grid-template-columns: repeat(8, 1fr);
        #container-filter   {  display: none; }
    }
    // HUILES ESSENTIELLES
    #container-evader .container-grid .container-flex-texte p, #container-evader .container-grid .container-flex-texte .button {
        margin-left: 0; }
    #section-huiles-essentielles .container-flex-texte {    grid-column: span 5;    }

    // Contact
    #section-contact .container-flex-texte {
        grid-column: span 6;
    }
}

/* ///////////////////////////////////////// 980px //////////////// */

@media screen and (max-width: 980px) {
    :root {
        font-size: 12px;
    }

    header {
        align-items: flex-end;
        nav {
            margin-bottom: 10px;
            .border-nav {
                font-size: 0.95rem;
                gap: 15px;
                padding: 12px 25px;
            }
        }
    }

    // Home
    #section-nouveau {
        .grid5  {    grid-column: span 4; }
        .grid3 {   grid-column: span 4;  }
    }

    #container-section-shop {
        grid-template-columns: repeat(8, 1fr);

        #container-filter {
            grid-column: span 2;
        }
    
        #container-shop {
            grid-column: span 6;

            .container-product .container-product-meta {
                max-width: 219px;
            }
        }
    }
    // HUILES ESSENTIELLES 
    #section-huiles-essentielles .container-flex-texte {    grid-column: 2/9;    }

    footer .border-nav {    padding: 30px 50px;     }

    // Contact
    #section-contact .container-flex-texte {
        grid-column: 2 / 9;
    }
}

/* ///////////////////////////////////////// 840px //////////////// */

@media screen and (max-width: 840px) {
    header {
        nav {
            .border-nav {
                padding: 12px 18px;
                a {
                    display: none;
                }
    
                svg {
                    display: block;
                    stroke: $dark-color;
                }
            }
        }
    }

    #container-newsletter {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }

    // Home
    #hero .container .header-button {   display: none;  }
    #section-nouveau {
        .grid5  {    grid-column: span 4; }
        .grid3 {   grid-column: span 4;  }
    }
   
    footer .border-nav {    
        align-items: center;
        padding: 30px 50px; 
        .display-nav {
            flex-wrap: wrap;
            justify-content: center;
            ul{ display: none;  }
        }    
        #container-copyright {
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 2px;
            padding-inline-start: 0;
        }
    }
    // Contact
    #section-contact .container-flex-texte {
        grid-column: 2 / 9;
    }
}

/* ///////////////////////////////////////// 768px //////////////// */
/* Pour le format Tablette */

@media screen and (max-width: 768px) {
    h1.title-XXH, h2.title-XXH, h3.title-XXH        {    font-size: 5rem; }
    h1.title-XH, h2.title-XH, h3.title-XH           {    font-size: 3rem; }
    h1.title-X, h2.title-X, h3.title-X, a.title-X   {    font-size: 2rem; }
    h1.title-H, h2.title-H, h3.title-H, a.title-H   {    font-size: 1.5rem;   }

    .container {    padding: 30px 0;    }
    .container-grid {
        grid-template-columns: repeat(6, 1fr);

        .grid3, .grid4, .grid5, .grid6, .grid7 {
            grid-column: 3 span !important;
        }

        .grid8 {
            grid-column: 2/6;
        }
    }

    // Home 
    #section-temps {
        .background {    background-color: $background-color;    }
        .container  {   color: $white-color;    }
    }
    #section-nouveau {
        .container-flex-texte { justify-content: center;    }
        .grid1  {   grid-column: span 3;    }
        .grid5  {    grid-column: span 3; }
        .grid3 {   display: none;  }
    }
    
    #container-section-shop, #container-section-articles {
        grid-template-columns: repeat(6, 1fr);
        #container-filter {    grid-column: span 1;     }
        #container-articles {    grid-column: span 5;    }  
        #container-shop {
            grid-column: span 5;

            .container-product .container-product-meta {
                max-width: 224px;
            }
        }
    }

    // NOS GAMMES
    #container-slider-gammes {
        .container-flex-texte { justify-content: center;}
        .container-board > .container-image:nth-child(2) {
                display: none;
        }
    }
    // Huiles essentielles
    #section-huiles-essentielles .container-flex-texte {    grid-column: span 6 !important;    }
    #container-citation .container {
        grid-template-areas:
        "a a a a a a"
        ". . b b . ."
        "c c c c c c";
    }
    // Contact
    #section-contact .container-flex-texte {
        grid-column: 1 / 7 !important;
        padding: 0 40px;
        .container-double { 
            flex-direction: column;
            input {     max-width: 100%;    }
        }
    }

    #container-newsletter {
        padding: 40px 0;
    }
}

/* ///////////////////////////////////////// 640px //////////////// */
/* Pour le format tablette */

@media screen and (max-width: 640px) {

    #container-section-shop, #container-section-articles {
        display: flex;
        flex-direction: column;
        align-items: self-start;

        #container-filter .liste-filter ul {
            flex-direction: row;
        }
    }
    // Huiles essentielles 
    #container-evader {
        .container {
            display: flex;
            flex-direction: column;
            width: 80%;
            margin: 0 10%;
            .container-image-border {   display:  none; }
        }
    }
}


/* ///////////////////////////////////////// 560px //////////////// */
/* Pour le format smartphone */

@media screen and (max-width: 560px) {

    // Page compte
    #compte-container header {
        align-items: flex-start;
        flex-direction: column-reverse;
        gap: 10px;
    }

    #nav-user {
        width: 100%;
        justify-content: center;
        right: auto;
        bottom: 2vh;
    }
}