// Utilities
@import "../../scss/variables.scss";

// CSS - PANIER
/*header {
    display: flex;
    flex-direction: row;
    align-items: center;
}*/

#container-commande {
    .container-product {
        position: relative;

        .container-product-meta {
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            .container-meta {
                margin: 0 20px 20px;
                display: flex;
                flex-direction: column;
                gap: 4px;

                .meta {
                    display: flex;
                    justify-content: space-between;
                }
            }

            .product-image {
                max-height: 380px;
                max-width: 210px;
                
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .container-more-less {
                justify-content: center;
                gap:10px;
                width: fit-content;

                .button .border-button {
                    padding: 8px 20px;
                    font-size: 2rem;
                }
            }
        }

        .border {
            width: 100%;
            height: 260px;
            position: absolute;
            bottom: 0;
            border: 2px solid $dark-color;
            border-radius: 40px;
            z-index: -1;
            transition: transform 0.2s ease-in-out;

            .prix {
                position: absolute;
                right: 3%;
                top: 4%;
                width: 50px;
                height: 50px;
                border-radius: 30px;

                display: flex;
                justify-content: center;
                align-items: center;

                color: $white-color;
                background-color: $dark-color;
            }
        }
    }
}

// CSS - CONTAINER RECAP
#container-recap {
    padding: 10px;
    //padding: 50px 30px;
    //background-color: $light-color;
    //border-radius: 40px;
    
    ul {
        padding-inline-start: 0;
        width: 100%;
        
        li { 
            list-style-type: none;
            display: flex;
            justify-content: space-between;

            span:nth-child(2) {
                font-weight: 600;
            }
        }
    }

    #text-total {
        align-self: flex-end;
    }
}