// Utilities
@import "../../scss/variables.scss";
@import "../../scss/font.scss";

// Button CSS
.button, .button-toggle {
    display: flex;
    width: fit-content;
    height: auto;
    background-color: transparent;
    border:  none;

    .border-button {
        margin: 0 auto; 
        
        background-color: transparent;
        border-color: $dark-color;
        border-style: solid;
        color: $dark-color;
    
        transition: border 0.4s ease-in-out, color 0.4s ease-in-out, background-color 0.1s ease-in-out;
        
        &:focus {
            border-color: $violet-color;
            color: $violet-color;
        }

        &:hover {
            border-color: $base-color;
            border-width: 3px;
            color: $base-color;
        }

        &:active {
            border-color: $background-color;
            background-color: $background-color;
            color: $white-color;
        }
    }

    .button-white {
        border-color: $white-color;
        color: $white-color;

        &:focus {
            border-color: $violet-color;
            color: $violet-color;
        }

        &:hover {
            border-color: $base-color;
            border-width: 3px;
            color: $base-color;
        }

        &:active, &.toggle {
            border-color: $background-color;
            border-width: 0px;
            background-color: $white-color;
            color: $background-color;
        }
    }
}

.button {
    margin: 5px 0;

    .border-button {
        font-size: 1.1rem;
        font-weight: 600;

        padding: 15px 25px;

        border-radius: 30px;
        border-width: 3px;
    }
}

.button-toggle {
    width: 100%;
    padding: 0;

    .border-button {
        font-size: 0.9rem;
        font-weight: 400;
    
        width: 100%;
        padding: 13px 5px;
        
        border-radius: 30px;
        border-width: 2px;

        &.toggle  {
            border-color: $background-color;
            background-color: $background-color;
            color: $white-color;
        }
    
    }
}