// Utilities
@import "../../scss/variables.scss";

// Button CSS
.button, .button-toggle, .button-form {
    display: flex;
    width: fit-content;
    min-width: fit-content;
    height: auto;
    background-color: transparent;
    border:  none;

    .border-button {
        margin: 0 auto; 
        
        background-color: transparent;
        border-color: $dark-color;
        border-style: solid;
        color: $dark-color;
    
        transition: border 0.4s ease-in-out, color 0.4s ease-in-out, background-color 0.1s ease-in-out;
        
        &:focus {
            border-color: $violet-color;
            color: $violet-color;
        }

        &:hover {
            border-color: $base-color;
            border-width: 2px;
            color: $base-color;
        }

        &:active {
            border-color: $background-color;
            background-color: $background-color;
            color: $white-color;
        }
    }

    .button-white {
        border-color: $white-color;
        color: $white-color;

        &:focus {
            border-color: $violet-color;
            color: $violet-color;
        }

        &:hover {
            border-color: $base-color;
            border-width: 2px;
            color: $base-color;
        }

        &:active, &.toggle {
            border-color: $background-color;
            border-width: 0px;
            background-color: $white-color;
            color: $background-color;
        }
    }
}

.button {
    margin: 5px 0;

    .border-button {
        font-size: 1.1rem;
        font-weight: 600;

        padding: 15px 25px;

        border-radius: 30px;
        border-width: 2px;
    }
}

.button-toggle, .button-form {
    width: 100%;
    padding: 0;
    min-width: fit-content;

    .border-button {
        font-size: 0.9rem;
        font-weight: 400;
    
        width: 100%;
        padding: 13px 5px;
        
        border-radius: 30px;
        border-width: 2px;

        &.toggle  {
            border-color: $background-color;
            background-color: $background-color;
            color: $white-color;
        }
    }
    &.button-white .toggle {
        border-color: $background-color;
        border-width: 0px;
        background-color: $white-color;
        color: $background-color;
    }
}

.button-picto {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    min-width: 50px;
    height: 50px;
    border-radius: 50px;

    background-color: $dark-color;

    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    img {
        width: 70%;
        height: 70%;
    }

    &:focus {
        background-color: $violet-color;
        -webkit-box-shadow: inset 0px 5px 3px 0px rgba($background-color, 0.25); 
        box-shadow: inset 0px 5px 3px 0px rgba($background-color, 0.25);
    }

    &:active {
        background-color: $background-color;
    }

    &:hover {
        background-color: $grey-color;
        -webkit-box-shadow: inset 0px 5px 3px 0px rgba($background-color, 0.25); 
        box-shadow: inset 0px 5px 3px 0px rgba($background-color, 0.25);
    }
}

.border-button.button-read {
    font-size: 0.9rem;
    color: $background-color;
    background-color: $white-color;
    border: none;
}