// Utilities
@import "../../scss/variables.scss";

form {
    display: flex;
    flex-direction: column;

    .form-input, .form-textarea {
        width: 100%;
        display: flex;
        flex-direction: column;
        
        input, textarea {
            font-family: $base-font;
            font-size: 1rem;
            color: $grey-color;
            opacity: 1;

            padding: 13px 20px;
            margin: 10px 0 0;
            
            border-radius: 30px;
            border: 1px solid $grey-color;
        }
        
        input { 
            text-align: center; 
            max-width: 240px;
            min-width: 200px;

            &.input-large {
                max-width: 100%;
            }
        }
    }
}

form .form-input input, 
form .form-input textarea, 
form .form-textarea input,
form .form-textarea textarea {
    color: $background-color;

    &::placeholder {
        color: $violet-color;
    }
}