// Utilities
@import "../../scss/variables.scss";
@import "../../scss/font.scss";

.container-shop {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .container-product {
        position: relative;

        .container-product-meta {
            display: flex;
            flex-direction: column;
            max-width: 240px;

            .container-meta {
                margin: 0 20px 20px;
                display: flex;
                flex-direction: column;
                gap: 4px;

                .meta {
                    display: flex;
                    justify-content: space-between;
                }
            }

            a {
                margin: 0 auto;

                img {
                    width: 100%;
                    max-height: 330px;
                    transition: transform 0.3s ease-in-out;
                }
            }
        }

        .border {
            width: 240px;
            height: 320px;
            position: absolute;
            bottom: 0;
            border: 2px solid $dark-color;
            border-radius: 40px;
            z-index: -1;
            transition: transform 0.2s ease-in-out;
        }
    }
}


.container-product:hover {
    img {
        transform: scale(1.05);
    }

    .border {
        transform: scale(0.975);
    }
}
    