// Utilities
@import "./variables.scss";
@import "./font.scss";
@import "./responsive/mediaqueries.scss";
@import "./animation.scss";


// - CSS DE BASE
/* ********************/

a {
    color: $dark-color;
    text-decoration-thickness: 2px;

    *:hover {
        color: $base-color;
    }

    &:focus {
        outline: none;
        color: $violet-color;
    }
}

hr {    
    width: 100%;
    border: 1px solid $dark-color;
    margin: 15px 0;
}

button:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="mail"]:focus, textarea:focus {
    outline: none;
}

body, main, section, #root {
    width: 100%;
    max-width: 100%;
    margin: 0;
}


// - NAV HEADER ET FOOTER
/* ********************/

.border-nav { 
    display: flex;
    width: 100%;

    border: 2px solid $dark-color;
    transition: border 0.1s ease-in;

    font-family: $base-font;
    font-weight: 400;
    font-size: 1.1rem;    
}

.border-nav:hover {
    border: 0px solid $dark-color;
}

.display-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

#link-breadcrumb {
    margin: 0 0 50px;
    display: flex;
    align-items: center;
    gap: 5px;  
    margin: 0;

    .button-picto {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
}

// - TYPE DE CONTAINER
/* ********************/


.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 100px 0;
}

.container-first {    padding: 0;   }


.container-grid {
    display: grid;  
    grid-template-columns: repeat(9, 1fr);
    column-gap: 20px;

    .grid1  {   grid-column: span 1;   }
    .grid2c  {   grid-column: 4/7;   }
    .grid3  {   grid-column: span 3;  }
    .grid3d  {   grid-column: 7/10;  }
    .grid4  {   grid-column: span 4;  }
    .grid5  {   grid-column: span 5;  }
    .grid6  {   grid-column: span 6;   } 
    .grid6d  {   grid-column: 4/10;   } 
    .grid7  {   grid-column: span 7;   } 
    .grid8  {   grid-column: span 8;}

    img {
        width: 100%;
    }
}

.container-flex-texte {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.container-color-dark {
    h1, h2, h3, h4, h5, h6, p, span {
        color: $white-color;
    }

    .border {
        border-color: $white-color !important;
    }
    
    .border-button {
        border-color: $white-color !important;
        color: $white-color  !important;
    }
}

// - VARIANTE DE CONTAINER DE COULEUR
/* ********************/

.container-dark {
    background-color: $background-color;

    h1, h2, h3, h4, h5, h6, p, span {
        color: $white-color;
    }

    hr {
        border-color: $white-color;
    }

    .border {
        border-color: $white-color !important;
    }
}

.container-white {
    background-color: $white-color;

    h1, h2, h3, h4, h5, h6, p, span {
        color: $dark-color;
    }

    &.container-flex-texte {
        padding: 40px;
        border-radius: 40px;

        .button {
            align-self: flex-end;
        }
    }
}

.container-double {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.container-image-large {
    position: relative;
    height: auto;
    min-height: 450px;
    overflow: hidden;

    .container-image {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        z-index: -1;
        
        display: flex;
        align-items: center;
        
        img {
            width: 100%;
        }
    }
}

.container-board {
    display: grid;  
    grid-template-columns: repeat(6, 1fr);
    column-gap: 20px;

    .container-image {
        grid-column: span 3;
    }
}

// - VARIANTE DE CONTAINER DE COULEUR
/* ********************/

.container-post-item {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;

    .container-post {
        position: relative;
        opacity: 1;

        transition: opacity 0.2s ease-in;

        .container-post-meta {
            display: flex;
            flex-direction: column;
            max-width: 237px;

            .container-meta {
                .meta-post-title {

                }
                .meta-post-category {

                }
            }
        }
    }

    .border {
        width: 100%;
        height: 320px;
        position: absolute;
        bottom: 0;
        border: 2px solid $dark-color;
        border-radius: 40px;
        z-index: 1;
        transform: scaleY(1);
        transition: transform 0.2s ease-in-out;
    }
}

#page-nothing {
    .container {
        text-align: center;
    }
}