// Utilities
@import "./variables.scss";
@import "./font.scss";

a {
    color: $dark-color;
    text-decoration-thickness: 2px;

    *:hover {
        color: $base-color;
    }

    &:focus {
        outline: none;
        color: $violet-color;
    }
}

hr {    
    width: 100%;
    border: 1px solid $dark-color
}

button:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="mail"]:focus, textarea:focus {
    outline: none;
}

body, main, section, #root {
    width: 100%;
    max-width: 100%;
    margin: 0;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 70px 0;
}

.container-dark {
    background-color: $background-color;

    h1, h2, h3, h4, h5, h6, p, span {
        color: $white-color;
    }

    .border {
        border-color: $white-color !important;
    }
}

.container-white {
    background-color: $white-color;

    h1, h2, h3, h4, h5, h6, p, span {
        color: $dark-color;
    }
}

.display-flex-texte {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.container-grid {
    display: grid;  
    grid-template-columns: repeat(9, 1fr);
    column-gap: 20px;

    .grid1  {   grid-column: span 1;   }
    .grid2c  {   grid-column: 4/7;   }
    .grid3  {   grid-column: span 3;  }
    .grid3d  {   grid-column: 7/10;  }
    .grid4  {   grid-column: span 4;  }
    .grid5  {   grid-column: span 5;  }
    .grid6  {   grid-column: span 6;   } 
    .grid6d  {   grid-column: 4/10;   } 
    .grid7  {   grid-column: span 7;   } 
    .grid8  {   grid-column: 2/9;}

    img {
        width: 100%;
    }
}

.border-nav { 
    display: flex;
    width: 100%;

    border: 2px solid $dark-color;
    transition: border 0.1s ease-in;

    font-family: $base-font;
    font-weight: 400;
    font-size: 1.1rem;    
}

.border-nav:hover {
    border: 0px solid $dark-color;
}

.display-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

#link-breadcrumb {
    margin: 0 0 50px;
    display: flex;
    align-items: center;
    gap: 5px;  
    margin: 0;

    .button-picto {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
}

.container-button {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 20px;
}