// Utilities
@import "./variables.scss";

html {
    font-size: 14px;
    font-family: $base-font, sans-serif;
    font-weight: 300;
    color: $dark-color;
}

h1, h2, h3 {
    font-family: $title-font, serif;
    font-size: 3.2rem;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6, span, p {
    margin: 0;
}

h1.title-XXH, h2.title-XXH, h3.title-XXH    {    font-size: 7.2rem; line-height: 1; }
h1.title-XH, h2.title-XH, h3.title-XH       {    font-size: 4.2rem; line-height: 1; }
h1.title-X, h2.title-X, h3.title-X          {    font-size: 2.8rem; line-height: 1; }
h1.title-H, h2.title-H, h3.title-H          {    font-size: 2rem; line-height: 1; font-family: $base-font;}
h3.title-post-item {    font-size: 1.4rem; font-weight: 400;  }

.name-category {
    font-family: $base-font, sans-serif;
    font-size: 1.15rem;
}

p {
    font-family: $base-font, sans-serif;

    .paragraphe-chapeau {
        font-weight: 600;
        font-size: 1.15rem;
    }
}

label {
    font-size: 0.9rem;
    font-weight: 600;
}