/**  -------------------- VARIABLE SCSS ------------------     **
****************************************************************/

/* Color variable
****************/

$base-color: #F05989;
$background-color: #705A75;
$light-color: #f6f1f1;
$grey-color: #D9D9D9;
$white-color: #FFF;
$dark-color: #013938;
$black-color: #000;
$yellow-color: #F9E374;
$orange-color: #FFA047;
$violet-color: #A98FAF;
$bleu-color: #BDCCEF;

/* Font
****************/

@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Kalnia:wght@100..700&display=swap');
$base-font: 'Alef', 'sans-serif';
$title-font: 'Kalnia', 'serif';
