// Utilities
@import "../../scss/variables.scss";

// *********** ACTUALITE CSS *********** */
/* ************************************* */

#container-articles {    grid-column: span 8;    }  

#page-actualite {
    #container-articles {
        margin-top: 20px;
        gap: 40px 20px;
        
        .container-post {
            max-width: 237px;
            
            .container-post-meta {
                max-width: fit-content;
                margin: 9px 12px;

                a {
                    margin: 0 auto;
                    border-radius: 34px;
                    overflow: hidden;
                    max-height: 160px;
                    height: 160px;
                    width: 213px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        filter: brightness(70%);
                        transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
                    }
                    &:hover img {   filter: brightness(100%);    }
                }
                .container-meta {
                    margin-bottom: 30px;

                    span    {  margin: 5px 0;  }
                    hr      {  margin: 5px 0;  }
                    h3      {   margin: 10px 0 0;  }
                }
            }
            &:hover .border{
                transform: scale(0.98);
            }

            &:hover img {
                transform: scale(1.08);
            }
        }

        .border {
            height: 100%;
            z-index: 1;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            
            transform: scale(1);
            transition: transform 0.3s ease-in;

            .button {
                position: relative;
                bottom: -25px;
            }
        }
    }

}

.meta-post-date {
    pointer-events: none;
    font-family: $title-font;
    font-size: 3.6rem;
    font-weight: 400;
    position: relative;
    top: -8px;
    left: -20px;
}

#container-post-article {

    .container {
        padding: 20px 0 100px;

        #link-breadcrumb {
            margin: 20px auto;
            color: $white-color;
            a {
                color: $white-color;

                &:hover {
                    color: $base-color;
                }
            } 
        }

        .container-article {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-areas: 
            "a a a a a a"
            ". b b b b ."
            ". c c c c ."
            ". d d d d ."
            ". e e e e ."
            ". . . . f .";
            margin-bottom: 10%;

            .container-image {
                margin: 2% 2% 6%;
                width: 96%;
                max-height: 400px;
                border-radius: 40px;
                overflow: hidden;
                grid-area: a;

                display: flex;
                align-items: center;
            }
            .meta {
                grid-area: b;
                margin: 0 0 15px 0;
            }

            h1       {    grid-area: c;     }
            .chapeau {    
                grid-area: d;
                font-weight: 600;     
                margin-top: 20px;
                padding-bottom: 20px;
                border-bottom: 2px solid $dark-color;
            }

            .content {
                grid-area: e;
                h2 {
                    font-size: 2rem; 
                    line-height: 1; 
                    font-family: $base-font;
                    margin: 25px 0 15px;
                }
                p { margin-bottom: 10px;    }
            }

            .author {
                grid-area: f;
                text-align: right;
                margin: 10px 0;
            }
        }
    }    

    #container-item-articles {
        border-style: solid;
        border-width: 2px;
        border-color: $white-color;
        border-radius: 40px;

        &>h3 {    
            text-align: center; 
            margin-bottom: 50px;
        }

        .container-post-item {
            justify-content: center;

            .container-post {
                .border {
                    height: 420px;
                    z-index: 2;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;

                    .button {
                        bottom: -25px;
                        position: absolute;
                        pointer-events: all;
                    }
                }
                .container-post-meta {
                    max-width: 270px;

                    .article-image, .container-meta {
                        width: 90%;
                        margin: 0 5%;
                    }

                    .article-image {
                        border-radius: 40px;
                        overflow: hidden;
                        display: flex;
                        max-height: 170px;
                    }

                    .container-meta {
                        margin-bottom: 40px;

                        h3 {    
                            margin: 10px 0;
                        }
                    }
                }

            }
        }
    }
}